:root {
  --accent: #5373fd;
}

body {
  font-family: "Aleo", sans-serif;
  color: #fff;

  .container {
    width: 1320px;
    max-width: 90%;
    margin: 0 auto;
  }
}

header {
  .wrapper:first-child {
    text-align: center;
    background-image: url("images/header.png");
    background-size: cover;
    height: 864px;

    .container {
      height: 100%;
      display: flex;

      .content {
        height: max-content;
        width: max-content;
        margin: auto;

        >button {
          margin: 211px auto 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;

        }
      }
    }

    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    h2 {
      margin-top: 8px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 22px;
      font-weight: normal;
      line-height: 28px;
      letter-spacing: 7px;
      margin-bottom: 48px;
    }

    form {
      background: #fff;
      width: 647px;
      height: 60px;
      padding: 4px 5px 4px 36px;
      display: flex;
      gap: 10px;

      input {
        flex-grow: 1;
        color: #000;
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
      }

      button {
        background-color: var(--accent);
        padding: 16px 24px;
        display: flex;
        gap: 12px;
        
        span {
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
        }
      }
    }
  }

  .wrapper:last-child {
    background-color: var(--accent);
    height: 84px;

    .container {
      height: 100%;
    }

    nav {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;

      h2 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
      }

      menu {
        display: flex;
        gap: 40px;
      }
    }
  }
}

.hero {
  background-image: url("images/hero.png");
  background-size: cover;
  background-position: center;

  .row:first-child {
    min-height: 704px;
    padding: 124px 0;
    display: flex;
    justify-content: space-between;

    .text {
      flex-shrink: 99;
      width: 48%;
      padding: 66px 0;

      h2 {
        font-size: 36px;
        line-height: 40px;
        font-weight: normal;
        margin-bottom: 24px;
      }

      p {
        font-family: "Josefin Sans", sans-serif;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 26px;
      }

      button {
        margin-top: 32px;
        background-color: var(--accent);
        text-transform: uppercase;
        display: block;
        padding: 20px 32px;
      }
    }

    .images {
      width: 424px;
      height: 456px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 350px;
        height: 220px;

        &:last-child {
          align-self: end;
        }
      }
    }
  }

  .row:last-child {
    height: 306px;
    min-height: 306px;
    background-color: #333;

    .features {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url("images/vector/Line.svg");
      background-repeat: no-repeat;
      background-position: center 38px;
      background-size: 65%;
      
      li {
        width: 424px;
        text-align: center;
        font-size: 36px;
        line-height: 40px;

        img {
          background-color: #333;
          object-fit: none;
          border-radius: 50%;
          width: 96px;
          height: 96px;
          margin: auto;
        }
      }
    }
  }
}

.promo {
  height: 684px;
  background-size: cover;
  background-position: center;

  &.promo-house {
    background-image: url("images/box-house.png");
  }

  &.promo-sea {
    background-image: url("images/spain.png");
  }

  .container {
    padding-top: 220px;

    .content {
      max-width: 648px;
      height: 344px;
      background-color: #232323e6;
      padding: 44px 32px;

      .promo-sea & {
        margin-left: auto;
      }
    }
  }
}

.testimonials {
  padding: 60px;
  background-image: url("images/testimonials.png");
  background-size: cover;
  min-height: 680px;

  h2 {
    text-align: center;
    height: 40px;
    margin: 60px 0;
  }

  .testimonial {
    min-height: 280px;
    display: flex;

    img {
      max-width: 50%;
      object-fit: cover;
    }

    .text {
      padding: 48px 60px;
    }
  }
}

footer {
  text-align: center;
  height: 268px;
  background-color: #000;
  padding: 80px 0;

  h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 275px;
    margin: auto;
  }
}
